#btn1{
    background-image: url(https://i.pinimg.com/564x/4b/a5/f2/4ba5f2d7f2748475d29cdffa148e600c.jpg);
    width: 300px ;
    height: 420px ;
    background-position: right;
    background-size: contain;}
  
   #btn2{
     position: left ;
      background-image: url(https://i.pinimg.com/564x/d4/59/30/d45930ec5ea98f9689088301e31a651e.jpg);
    width: 278px ;
    height: 420px ;
    background-position: center ;
    background-size: contain;}
    
  #btn3{
    background-image: url(https://i.pinimg.com/564x/e9/69/5f/e9695fa1c26343b9e459a5082641212c.jpg);
    width: 389px ;
    height: 420px ;
    background-position: right;
    background-size: contain;}    
    
   #alinacion{
     display: flex;}
  
  #vestido {
    align-self: flex-end;}
  
  #traje {
    align-self: flex-end;}
  
  #kimono {
    align-self: flex-end;}
  